@model IEnumerable<KP_APP.Models.sootv_kategor_parameters>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.tov_kategories)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.parameters)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tov_kategories.kategor_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.parameters.param_name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_sootv_par">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id_sootv_par">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id_sootv_par">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
